{% extends "app/base.html" %}
{% block content %}
	{% for post in posts %}
		<article class="media content-section">
			<div class="media-body">
				<div class="article-metadata">
					<a class="mr-2" href="#">{{ post.author }}</a>
					<small class="text-muted">{{ post.date_posted | date:"d F Y" }}</small>
				</div>
				<img src="{{ post.img.url }}" alt="">
				<h2><a class="article-title" href="{% url 'app-detail_auction' pk=post.pk %}" >{{ post.name }}</a></h2>
				<p class="article-content">{{ post.ubication }}</p>
			</div>
		</article>
	{% endfor %}
{% endblock content %}