{% extends "app/base.html" %}
{% block content %}

        <article class="media content-section">
			<div class="media-body">
				<div class="article-metadata">
					<img class="account-img" src="{{ detalle.imagen.url }}"> </img>
					<small class="text-muted">{{ detalle.date_posted | date:"d F Y" }}</small>
				</div>
				<img src="{{ detalle.img.url }}" alt="">
				<h2><a class="article-title"  >{{ detalle.titulo }}</a></h2>
				<p class="article-content">{{ detalle.direccion }}</p>
                <p class="article-content">{{ detalle.descripcion }}</p>
                <hr>
                {% for subasta in subastas %}

                    <p class="article-content"> <strong>Subasta para la semana: {{ subasta.reserva.semana }} </strong></p>
                    <p class="article-content">Precio: {{ subasta.precioBase }}</p>
                    <p class="article-content">Tipo: {{ subasta.reserva.propiedad.tipo }}</p>
                <a class="article-content" ><span class=" badge badge-info "> Estado: {{ subasta.estado }}</span></a>
                {% if user.is_authenticated %}
                <br>
                <br>
                <form>
                  <div class="form-group">
                    <label for="exampleNumber">Cantidad a ofertar</label>
                    <input type="number" class="form-control" id="exampleNumber" placeholder="Ingrese su oferta">
                    <small id="emailHelp" class="form-text text-muted">Debe ofertar un valor mayor al valor actual de la subasta.</small>
                  </div>
                    <button type="submit" class="btn btn-success">Pujar </button>
                </form>

        {% endif %}
                <hr>

                {% endfor %}



			</div>
		</article>


{% endblock content %}